---
import Encabezado from "../components/Encabezado.astro"
import AboutMe from "../components/AboutMe.astro"
import Information from "../components/Information.astro"
import "../styles/body.css"
import Footer from "../components/Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Soy un contador público en Argentina con experiencia en ofrecer servicios contables y financieros de alta calidad. En mi portfolio, puedes explorar mis habilidades en la gestión de impuestos, asesoría financiera y auditoría. ¡Conoce más sobre mi experiencia y cómo puedo contribuir al éxito de tu negocio!"
    />
    <title>Lucas Ariel Porciel</title>
  </head>
  <body class="w-full h-full flex flex-col">
    <Encabezado />
    <AboutMe />
    <Information />
    <Footer />
  </body>
</html>
