<div class="w-full h-[400px] md:pl-32 md:pt-10">
  <div class="w-1/2 h-full flex flex-col gap-5">
    <div class="flex w-full 1/5 justify-center items-center">
      <h1 class="font-Poppins text-5xl font-semibold">
        Sobre Mí
        <span class="w-1/4 h-1 bg-[#0D4148]"></span>
      </h1>
    </div>
    <div class="w-full flex h-4/5">
      <h2 class="">
        Soy contador Público, graduado en UBA. Hace más de 15 años trabajo en el
        área, tanto en estudio contable como para empresas de la industria
        turística, comercios, agropecuarias, farmacéuticas y profesionales
        independientes. Además, me forme como Coach Ontológico, lo cual me
        permite brindar un asesoramiento con abordaje más humano, orientado al
        desarrollo personal o de liderazgo. Me enfoco en que empresas y
        profesionales alcancen sus objetivos a corto, mediano y largo plazo,
        proporcionando herramientas para medir su progreso y visualizando
        resultados.
      </h2>
    </div>
  </div>
</div>
