<div
  class="w-full h-[650px] md:h-[600px] 2xl:h-[900px] lg:pl-32 lg:pt-10 md: flex flex-col md:flex-row justify-center items-center bg-[#cfcfcf]"
>
  <div
    class="lg:w-1/2 w-full h-4/6 flex flex-col justify-center items-center gap-2 md:gap-5"
  >
    <div
      class="flex w-full 2xl:w-3/5 h-1/12 justify-center lg:justify-start items-center"
    >
      <h1 class="font-Poppins text-5xl font-semibold flex flex-col">
        Sobre Mí
        <span class="w-[30%] h-1 bg-[#0D4148] rounded-lg"></span>
      </h1>
    </div>
    <div
      class="w-4/5 lg:w-full 2xl:w-3/5 flex lg:justify-start justify-center items-center"
    >
      <p
        class="text-base md:text-xl lg:text-lg lg:text-start text-center 2xl:text-2xl"
      >
        Soy contador Público, graduado en UBA. Hace más de 15 años trabajo en el
        área, tanto en estudio contable como para empresas de la industria
        turística, comercios, agropecuarias, farmacéuticas y profesionales
        independientes. Además, me forme como Coach Ontológico, lo cual me
        permite brindar un asesoramiento con abordaje más humano, orientado al
        desarrollo personal o de liderazgo. Me enfoco en que empresas y
        profesionales alcancen sus objetivos a corto, mediano y largo plazo,
        proporcionando herramientas para medir su progreso y visualizando
        resultados.
      </p>
    </div>
  </div>
  <div class="w-1/2 h-full lg:flex hidden justify-center items-center">
    <img
      src="/images/Men.webp"
      alt="Profesional"
      class="pb-64 2xl:pb-[600px]"
    />
  </div>
</div>
