---
import "../styles/line.css"
interface Props {
  title: string
  href: string
}

const { title, href } = Astro.props
---

<li
  class="item w-full flex justify-center flex-col items-center transition-all"
>
  <a
    class="link text-white font-Poppins text-2xl 2xl:text-6xl font-bold flex justify-center items-center transition-all flex-col"
    href={href}
    >{title}
    <div class="line"></div>
  </a>
</li>
