---
import "../styles/line.css"
interface Props {
  title: string
  text: string
  icon: string
}

const { title, text, icon } = Astro.props
---

<div
  class="w-[340px] h-[335px] bg-white flex flex-row rounded-2xl shadow-lg p-4"
>
  <div class="flex flex-col items-center justify-center h-full gap-5">
    <h3 class="flex items-start text-2xl font-bold text-center">
      {title}
    </h3>
    <p
      class="h-2/3 text-center lg:text-lg text-base flex justify-center items-center"
    >
      {text}
    </p>
    <div
      class="h-1/6 w-full flex items-end justify-center rounded-full bg-[#F5F5F5] mt-5"
    >
      <img src={icon} alt="" class="w-[40px] h-[40px] mb-8" />
    </div>
  </div>
</div>
