---
import "../styles/line.css"
interface Props {
  title: string
  href: string
}

const { title, href } = Astro.props
---

<li class="item w-full flex justify-center flex-row items-center">
  <a class="link text-white font-Poppins text-2xl font-bold" href={href}
    >{title}</a
  >
  <div class="line"></div>
</li>
