---
import CardHeader from "../components/CardHeader.astro"
---

<header
  class="w-full h-[330px] md:h-[450px] 2xl:h-[600px] bg-[url(/images/header.webp)] bg-cover bg-no-repeat bg-center bg-fixed flex justify-center flex-col items-center gap-10"
>
  <nav class="md:w-full md:h-1/4 md:flex justify-start items-center hidden">
    <ul class="w-full flex justify-evenly items-center flex-row">
      <CardHeader title="Sobre mí" href="#sobremi" />
      <CardHeader title="Áreas de trabajo" href="#trabajo" />
      <CardHeader title="Contactame" href="#contacto" />
    </ul>
  </nav>
  <div
    class="w-full h-3/4 flex flex-col justify-center md:justify-start items-center gap-3"
  >
    <h1
      class="text-center w-full text-3xl 2xl:text-5xl md:text-6xl font-bold text-white"
    >
      Cr. Lucas Ariel Porciel
    </h1>
    <h3
      class="text-center w-11/12 2xl:text-3xl 2xl:w-3/5 md:w-4/6 text-base md:text-2xl font-light text-white"
    >
      Profesional con más de 15 años de experiencia en el mercado, enfocado en
      la prestación de servicios impositivos, contables, previsionales y
      societarios.
    </h3>
  </div>
</header>
