---
import CardHeader from "../components/CardHeader.astro"
---

<header
  class="w-full h-[330px] md:h-[450px] 2xl:h-[600px] bg-[url(/images/header.webp)] bg-cover bg-no-repeat bg-center bg-fixed flex justify-center flex-col items-center gap-10"
>
  <nav class="md:w-full md:h-1/4 md:flex justify-start items-center hidden">
    <ul class="w-full flex justify-evenly items-center flex-row">
      <CardHeader title="Sobre mí" href="#sobremi" />
      <CardHeader title="Áreas de trabajo" href="#trabajo" />
      <CardHeader title="Contactame" href="#contacto" />
    </ul>
  </nav>
  <div
    class="w-full h-3/4 flex flex-col justify-center md:justify-start items-center md:gap-7 gap-4"
  >
    <div class="w-full flex justify-center items-center flex-col">
      <h1
        class="text-center w-full text-3xl 2xl:text-5xl md:text-6xl font-bold text-white"
      >
        Lucas Ariel Porciel
      </h1>
      <h2
        class="text-center md:w-[400px] w-full text-lg 2xl:text-5xl md:text-3xl font-medium text-white flex flex-row justify-center items-center gap-2"
      >
        Contador Público (UBA)
      </h2>
    </div>
    <h3
      class="text-center w-10/12 2xl:text-3xl 2xl:w-3/5 md:w-3/5 text-sm md:text-xl font-light text-white"
    >
      Profesional con más de 10 años de experiencia en el mercado, enfocado en
      la prestación de servicios impositivos, contables, previsionales y
      societarios.
    </h3>
  </div>
</header>
