---
import CardInformation from "./CardInformation.astro"
import Contabilidad from "../../public/icons/Contabilidad.svg"
---

<div
  id="trabajo"
  class="w-full h-[1000px] sm:h-[1200px] lg:h-[500px] flex bg-[#cfcfcf] flex-col justify-center items-center"
>
  <h1 class="md:text-4xl text-3xl font-bold">Principales servicios</h1>
  <div
    class="w-full flex lg:flex-row flex-col gap-8 justify-center items-center p-10"
  >
    <CardInformation
      title="Contabilidad y Auditoria"
      item1="Implementación de sistemas informáticos contables."
      item2="Auditoría de Estados Contables."
      item3="Asesoramiento Contable Integral. "
      icon="/icons/Contabilidad.svg"
    />

    <CardInformation
      title="Laboral y Previsional"
      item1="Liquidación de Sueldos y Cargas Sociales."
      item2="Asesorías y atención de requerimientos. "
      item3="Liquidación de casas particulares, (empleadas domésticas)."
      icon="/icons/Laburo.svg"
    />
    <CardInformation
      title="Impuestos"
      item1="Asesoramiento Impositivo Integral."
      item2="Liquidación de Impuestos Nacionales y Provinciales."
      item3="Atención de requerimientos ante organismos de fiscalización."
      icon="/icons/Impuestos.svg"
    />
  </div>
</div>
