---

---

<div
  class="md:w-1/3 w-full h-1/3 md:h-full flex justify-center sm:justify-start items-center md:items-center flex-col gap-10 sm:pt-[62px]"
>
  <h1
    class="h-1/12 w-[350px] md:w-[250px] md:text-start text-start text-2xl font-semibold text-white"
  >
    Mis redes
  </h1>
  <div
    class="h-11/12 sm:w-full w-[350px] md:w-[250px] flex justify-center md:items-center items-center flex-col gap-5"
  >
    <div
      class="w-[350px] md:w-[250px] flex flex-row justify-start items-center gap-3"
    >
      <a
        href="https://www.linkedin.com/in/lucas-ariel-porciel-b6393711a/"
        target="_blank"
      >
        <img
          src="/icons/Linkedin.svg"
          alt="Linkedin"
          class="w-[30px] h-[30px]"
        />
      </a>
      <h3 class="text-white font-semibold">Lucas Ariel Porciel</h3>
    </div>
  </div>
</div>
