---

---

<div
  class="md:w-1/2 w-full h-1/3 md:h-full flex justify-center sm:justify-start items-center sm:items-start flex-col gap-10 sm:pt-[62px]"
>
  <h1
    class="h-1/12 sm:w-[400px] w-[350px] sm:text-start text-center text-2xl font-semibold text-white"
  >
    Mis redes
  </h1>
  <div
    class="h-11/12 sm:w-[400px] w-[350px] flex justify-start items-start flex-row gap-5"
  >
    <div
      class="w-1/2 sm:w-full flex flex-row justify-center items-center gap-3"
    >
      <a
        href="https://www.linkedin.com/in/lucas-ariel-porciel-b6393711a/"
        target="_blank"
      >
        <img
          src="/icons/Linkedin.svg"
          alt="Linkedin"
          class="w-[30px] h-[30px]"
        />
      </a>
      <h3 class="text-white font-semibold text-sm">Lucas Ariel Porciel</h3>
    </div>
    <div
      class="w-1/2 sm:w-full flex flex-row justify-center items-center gap-3"
    >
      <a href="https://www.instagram.com/lucasporciel/" target="_blank">
        <img
          src="/icons/Instagram.svg"
          alt="Instagram"
          class="w-[30px] h-[30px]"
        />
      </a>
      <h3 class="text-white font-semibold text-sm">lucasporciel</h3>
    </div>
  </div>
</div>
